fastapi
uvicorn[standard]
pydantic-settings
pydantic[email]
itsdangerous
python-dotenv
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
google-cloud-storage
google-cloud-firestore
python-jose[cryptography]
passlib[bcrypt]
httpx
python-magic
python-multipart
stripe
# Database connection requirements
cloud-sql-python-connector[pg8000]>=1.2.0
pg8000>=1.23.0
asyncpg
shippo>=2.0.2